<!-- Top Navigation Bar -->
<div class="top-nav-bar">
  <div class="top-nav-container">

    <!-- Mobile sidebar toggle -->
    <button id="menu-button" class="site-button btn-reset top-nav-menu-button" aria-label="Toggle menu" aria-pressed="false">
      <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
    </button>

    <!-- Logo on the left -->
    <div class="top-nav-logo">
      <a href="{{ '/' | relative_url }}">
        <img src="{{ 'images/icons/Isalos_letters_icon.png' | relative_url }}" alt="Isalos Logo" height="40" class="logo-light">
        <img src="{{ 'images/icons/Isalos_letters_icon_dark.png' | relative_url }}" alt="Isalos Logo" height="40" class="logo-dark">
      </a>
    </div>


    {% capture search_placeholder %}{% include search_placeholder_custom.html %}{% endcapture %}

    <div class="search" role="search">
      <div class="search-input-wrap">
        <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="{{ search_placeholder | strip_html | strip }}" aria-label="{{ search_placeholder | strip_html| strip }}" autocomplete="off">
        <label for="search-input" class="search-label">
          <svg viewBox="0 0 24 24" class="search-icon" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </label>
      </div>
      <div id="search-results" class="search-results"></div>
    </div>

    <!-- Links on the right -->
    <nav class="top-nav-links">

      <!-- Dark mode toggle -->
      <button class="js-toggle-dark-mode btn-reset" aria-label="Switch to dark mode" title="Toggle dark mode">
        <img src="{{ 'images/icons/dark_mode_button.png' | relative_url }}" class="theme-icon-light" alt="Switch to dark mode">
        <img src="{{ 'images/icons/light_mode_button.png' | relative_url }}" class="theme-icon-dark" alt="Switch to light mode">
        <img src="{{ 'images/icons/dark_mode_button_hover.png' | relative_url }}" class="theme-icon-light-hover" alt="Switch to dark mode">
        <img src="{{ 'images/icons/light_mode_button_hover.png' | relative_url }}" class="theme-icon-dark-hover" alt="Switch to light mode">
      </button>

      <span class="top-nav-separator"></span>

      <a href="https://isalos.novamechanics.com/" target="_blank" class="icon-link isalos-icon-link">
        <img src="{{ 'images/icons/Isalos_simple_logo_hover.png' | relative_url }}" 
            alt="Isalos Analytics Platform" 
            class="icon-default">
        <img src="{{ 'images/icons/Isalos_simple_logo.png' | relative_url }}" 
            alt="Isalos Analytics Platform" 
            class="icon-hover">
        <img src="{{ 'images/icons/Isalos_simple_logo_dark.png' | relative_url }}" 
            alt="Isalos Analytics Platform" 
            class="icon-dark-default">
        <img src="{{ 'images/icons/Isalos_simple_logo_hover_dark.png' | relative_url }}" 
            alt="Isalos Analytics Platform" 
            class="icon-dark-default-hover">
      </a>
      <a href="https://novamechanics.com/" target="_blank" class="icon-link novaM-icon-link">
        <img src="{{ 'images/icons/novaM_gray_logo.png' | relative_url }}" 
            alt="NovaMechanics Ltd" 
            class="icon-default">
        <img src="{{ 'images/icons/novaM_logo.png' | relative_url }}" 
            alt="NovaMechanics Ltd" 
            class="icon-hover">
        <img src="{{ 'images/icons/novaM_gray_logo.png' | relative_url }}" 
            alt="NovaMechanics Ltd" 
            class="icon-dark-default">
        <img src="{{ 'images/icons/novaM_logo.png' | relative_url }}" 
            alt="NovaMechanics Ltd" 
            class="icon-dark-default-hover">
      </a>
      <a href="https://www.youtube.com/@novamechanicsltd5621" target="_blank" class="icon-link yt-icon-link">
        <img src="{{ 'images/icons/yt_logo_circle.png' | relative_url }}" 
            alt="Youtube channel" 
            class="icon-default">
        <img src="{{ 'images/icons/yt_logo_circle_hover.png' | relative_url }}" 
            alt="Youtube channel" 
            class="icon-hover">
        <img src="{{ 'images/icons/yt_logo_circle_dark.png' | relative_url }}" 
            alt="Youtube channel" 
            class="icon-dark-default">
        <img src="{{ 'images/icons/yt_logo_circle_hover.png' | relative_url }}" 
            alt="Youtube channel" 
            class="icon-dark-default-hover">
      </a>
      <a href="https://www.linkedin.com/company/novamechanics/" target="_blank" class="icon-link linkedin-icon-link">
        <img src="{{ 'images/icons/linkedin_logo.png' | relative_url }}" 
            alt="LinkedIn" 
            class="icon-default">
        <img src="{{ 'images/icons/linkedin_logo_hover.png' | relative_url }}" 
            alt="LinkedIn"  
            class="icon-hover">
        <img src="{{ 'images/icons/linkedin_logo_dark.png' | relative_url }}" 
            alt="LinkedIn" 
            class="icon-dark-default">
        <img src="{{ 'images/icons/linkedin_logo_hover.png' | relative_url }}" 
            alt="LinkedIn"  
            class="icon-dark-default-hover">
      </a>
    </nav>
  </div>
</div>

