{%- comment -%}
  Include as: {%- include components/sidebar.html -%}
  Depends on: page(?), site.
  Results in: HTML for the side bar.
  Includes:
    title.html, components/site_nav.html, nav_footer_custom.html
  Overwrites:
    nav_footer_custom.
  Should not be cached, because nav_footer_custom.html might depend on page.
{%- endcomment -%}

<div class="side-bar">

  {% include_cached components/site_nav.html %}

  <!-- Mobile-only icon links at bottom of sidebar -->
  <div class="sidebar-mobile-links">
    <a href="https://isalos.novamechanics.com/" target="_blank" class="icon-link">
      <img src="{{ 'images/icons/Isalos_simple_logo_hover.png' | relative_url }}"
          alt="Isalos Analytics Platform" height="38" width="44" class="icon-default">
      <img src="{{ 'images/icons/Isalos_simple_logo.png' | relative_url }}"
          alt="Isalos Analytics Platform" height="38" width="44" class="icon-hover">
    </a>
    <a href="https://novamechanics.com/" target="_blank" class="icon-link">
      <img src="{{ 'images/icons/novaM_gray_logo.png' | relative_url }}"
          alt="NovaMechanics Ltd" height="38" width="44" class="icon-default">
      <img src="{{ 'images/icons/novaM_logo.png' | relative_url }}"
          alt="NovaMechanics Ltd" height="38" width="44" class="icon-hover">
    </a>
    <a href="https://www.youtube.com/@novamechanicsltd5621" target="_blank" class="icon-link">
      <img src="{{ 'images/icons/yt_logo_circle.png' | relative_url }}"
          alt="Youtube channel" height="35" width="40" class="icon-default">
      <img src="{{ 'images/icons/yt_logo_circle_hover.png' | relative_url }}"
          alt="Youtube channel" height="35" width="40" class="icon-hover">
    </a>
    <!-- Dark mode toggle -->
    <button class="js-toggle-dark-mode btn-reset" aria-label="Switch to dark mode" title="Toggle dark mode">
      🌜
    </button>
  </div>
</div>

